In [ ]:
#!/bin/python3

import sys
import os

In [ ]:
str_check = input
unique_characters = sorted(set(str_check),key=str_check.index)
    print(unique_characters)
    count_number = [None] *len(unique_characters)
    final_list = [None] *len(unique_characters)
    for idx,item in enumerate(unique_characters):
        count_number = str_check.count(item)
        final_list[idx] = str(count_number)
       
    check = final_list.index('1')
    return unique_characters[check]
    
_arr_cnt = 0
_arr_cnt = int(input())
_arr_i=0
_arr = []
while _arr_i < _arr_cnt:
    _arr_item = int(input());
    _arr.append(_arr_item)
    _arr_i+=1
    


_k = int(input());

res = findNumber(_arr, _k)

In [ ]:
def oddNumbers(l, r):
    print(l)
    print(r)
    a=[]
    for i in range (l,r+1):
        if i%2 != 0:
            a.append(i)
    return a        

_l = int(input());


_r = int(input());

res = oddNumbers(_l, _r)
for res_cur in res:
    print(res_cur)

In [ ]:
def  firstUniqueChar(input):
    str_check = input
    unique_characters = sorted(set(str_check),key=str_check.index)
    print(unique_characters)
    count_number = [None] *len(unique_characters)
    final_list = [None] *len(unique_characters)
    for idx,item in enumerate(unique_characters):
        count_number = str_check.count(item)
        final_list[idx] = str(count_number)
       
    check = final_list.index('1')
    return unique_characters[check]

try:
    _input = str(input())
except:
    _input = None

res = firstUniqueChar(_input)
print(res)

In [ ]:
import math

def  bestAverageGrade(scores):
    total_records = (len(scores))
    list_names = [None] *total_records
    list_marks = [0] * total_records
    list_count = [0] * total_records
    list_average = [0] * total_records
    for idx,item in enumerate(scores):
        name = item[0]
        marks = item[1]
        if name in list_names:
            idx_present = list_names.index(name)
            list_marks[idx_present] = float(list_marks[idx_present]) + float(marks)
            list_count[idx_present] = list_count[idx_present] + 1
        else:
            list_names[idx] = name
            list_marks[idx] = marks
            list_count[idx] = list_count[idx] + 1
    for idx,item in enumerate(list_marks):
        mark = int(item)
        count = list_count[idx]
        try:
            list_average[idx] = math.floor(mark/count)
        except:
            list_average[idx] = 0
    try:
        max_average = max(list_average)
        
    return max_average
        
        

_scores_rows = 0
_scores_cols = 0
_scores_rows = int(input())
_scores_cols = int(input())

_scores = []
for _scores_i in range(_scores_rows):
    _scores_temp = [str(_scores_t) for _scores_t in input().strip().split(' ')]
    _scores.append(_scores_temp)

res = bestAverageGrade(_scores)
print(res)

In [ ]:
"Niranjan".lower()

In [ ]:
a = [10,10,5]
print(max(a))

In [1]:
import pandas as pd
import numpy as np

In [2]:
user = pd.read_json("D:/UIC/Fall 2017/Advance stats/Project/yelp_dataset/user.json",lines = True)

In [4]:
print(user.shape)
user.head(5)

(1183362, 22)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,3.80,5174,284,5174,5175,78,299,1435,7829,7397,...,16856,"[2014, 2016, 2013, 2011, 2012, 2015, 2010, 2017]",209,"[M19NwFwAXKRZzt8koF11hQ, QRcMZ8pJJBBZaKubHOoMD...",16605,Cin,272,17019,lsSiIjAKVl-QRxKjRErBeg,2010-07-13
1,3.94,1556,211,1556,1285,101,134,1295,162,2134,...,40110,"[2014, 2017, 2011, 2012, 2015, 2009, 2013, 200...",835,"[eoSSJzdprj3jxXyi94vDXg, QF0urZa-0bxga17ZeY-9l...",10882,Andrea,2559,83681,om5ZiponkpRqUNa3pVPiRg,2006-01-18
2,4.72,15,1,15,5,0,1,11,8,20,...,55,[],17,"[Oa84FFGBw1axX8O6uDkmqg, SRcWERSl4rhm-Bz9zN_J8...",4,Gabe,277,45,-lGwMGHMC_XihFJNKCJNRg,2014-10-31
3,3.76,9,0,9,1,0,1,4,1,11,...,4,"[2016, 2017]",11,"[96DJovjKAtExnyBZRfniPQ, Djczq-bRn761U4FW77NUt...",4,Leah,436,15,D-ydMTPGWXTVm4_jjp0k9g,2013-04-01
4,4.23,276,0,276,59,0,8,51,169,386,...,6006,"[2017, 2016]",49,"[iN0A6QIrEFYoSGHFaknh8Q, B2HDoWNIzLlon0IhS1cmD...",360,Juan,921,9152,PcvbBOCOcs6_suRDH7TSTg,2012-08-16

In [23]:
u_filter= user[["average_stars","compliment_cool","compliment_cute","compliment_funny","compliment_hot","compliment_list","compliment_more","compliment_note","compliment_photos","compliment_plain","cool","funny","fans","review_count","useful","user_id"]]
u_filter.head(2)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,cool,funny,fans,review_count,useful,user_id
0,3.80,5174,284,5174,5175,78,299,1435,7829,7397,16856,16605,209,272,17019,lsSiIjAKVl-QRxKjRErBeg
1,3.94,1556,211,1556,1285,101,134,1295,162,2134,40110,10882,835,2559,83681,om5ZiponkpRqUNa3pVPiRg

In [24]:
list_1=["users_average_stars","users_compliment_cool","users_compliment_cute","users_compliment_funny","users_compliment_hot","users_compliment_list","users_compliment_more","users_compliment_note","users_compliment_photos","users_compliment_plain","users_cool","users_funny","users_fans","users_review_count","users_useful","user_id"]
print(list_1)
u_filter.columns=list_1
u_filter.head(2)

['users_average_stars', 'users_compliment_cool', 'users_compliment_cute', 'users_compliment_funny', 'users_compliment_hot', 'users_compliment_list', 'users_compliment_more', 'users_compliment_note', 'users_compliment_photos', 'users_compliment_plain', 'users_cool', 'users_funny', 'users_fans', 'users_review_count', 'users_useful', 'user_id']

,users_average_stars,users_compliment_cool,users_compliment_cute,users_compliment_funny,users_compliment_hot,users_compliment_list,users_compliment_more,users_compliment_note,users_compliment_photos,users_compliment_plain,users_cool,users_funny,users_fans,users_review_count,users_useful,user_id
0,3.80,5174,284,5174,5175,78,299,1435,7829,7397,16856,16605,209,272,17019,lsSiIjAKVl-QRxKjRErBeg
1,3.94,1556,211,1556,1285,101,134,1295,162,2134,40110,10882,835,2559,83681,om5ZiponkpRqUNa3pVPiRg

In [26]:
review_business=pd.read_csv("D:/UIC/Fall 2017/Advance stats/Project/Codes/Yelp Project/review_business.csv",encoding ='latin1')

In [27]:
review_business.head(2)

,Unnamed: 0,business_id,attributes.BestNights.sunday,attributes.DietaryRestrictions.gluten-free,attributes.DietaryRestrictions.vegan,attributes.BestNights.saturday,attributes.DietaryRestrictions.vegetarian,attributes.DietaryRestrictions.kosher,attributes.DietaryRestrictions.soy-free,attributes.DietaryRestrictions.halal,...,review_id,user_id,stars,date,text,useful,funny,cool,pos,neg
0,1,-05uZNVbb8DhFweTEOoDVg,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,HPvCxoJuXqN1v1EooXRuPQ,ZzpNEiZQmrmqqRFxK8mD6w,3,2016-06-15,Brand new so everything looked great and food ...,0,0,0,6,0
1,2,-05uZNVbb8DhFweTEOoDVg,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,ILIcT1r-0zV4BMUcvQ_hCA,G0sPf6-N_gWByYIA0ho95w,2,2016-07-05,To much bread! Ladies are rude and drive throu...,0,0,0,0,0

In [32]:
review_user=review_business.join(u_filter.set_index('user_id'), on='user_id')
review_user.head(2)
review_user=review_user.drop("Unnamed: 0",1)
review_user.head(2)
review_user.to_csv("D:/UIC/Fall 2017/Advance stats/Project/Codes/Yelp Project/review_user.csv",sep="|")